.card-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    gap: 6px; 
    margin-top: 10px;
}

.btn-detalle {
    padding: 7.5px;
    text-decoration: none;
    border-radius: 5px; 
}

.btn-fav {
    background-color: #ccc;
    border: none;
    font-size: 19px;
    border-radius: 2.5px;
    padding: 4px 6px; 
}

.btn-ocultar{
    border-radius: 7px;
    padding: 5px;
}

.btn-eliminar {
    padding: 5px 8px; 
    font-size: 13px;
    border-radius: 2.5px;
}

.oculto{
    display: none;
}