.card-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-detalle {
    padding: 7.5px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
}

.btn-fav {
    background-color: #ccc;
    border: none;
    font-size: 19px;
    border-radius: 2.5px;
}

.btn-ocultar{
    border-radius: 7px;
    padding: 5px;
    margin-right: 10px;
}

.oculto{
    display: none;
}