.main-header {
    background-color: rgb(9, 4, 36);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items:center;
}

.logo a {
    color: white;
    text-decoration: none;
}

.header-nav {
    width: 95%;
    max-width: 1200px;
    margin:20px;
    padding: 12px;

    display: flex;  
    justify-content: center;  
    align-items: center;  
}  

.search-form {  
    width: 300px;  
}

.header-list {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-list a {
    color: rgb(15, 6, 32);
    text-decoration: none;
    font-size: 23px;

}

.header-list a:hover {
    text-decoration: underline;
}