.form {
    display: grid;
    column-gap: 8px;
    align-items: center; 
    max-width: 600px;
    margin: 30px auto;
    padding: 15px;
    box-sizing: border-box;
}

.form select,
.form input,
.form button {
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0;
}

.form select {
    border: white;
    padding: 0 8px;
    background-color: white;
}

.form input {
    border: white;
    padding: 0 10px;
}

.form button {
    background-color: #a58dca;
    color: white;
    border: none;
}