nav {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
}
.nav {
    margin: 0 !important;
}
.nav a{
    color: #444;
    text-decoration: none;
}
.nav a:hover{
    font-weight: bold;
}
.search-form, .filter-form {
    padding: .5rem 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 5px;
}
.filter-form {
    grid-template-columns: 1fr;
}
.search-form .btn-sm{
    line-height: 1;
    font-size: 0.9rem;
}
.search-form input,
.filter-form input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1rem;
    padding-bottom: 4px;
}
.filter-form input {
    line-height: 1.5;
}
.cards {
    padding: 0.75rem 1.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: 0 20px;
    margin-bottom: 2%;
}
.cardBody {
    margin-top: 10px;
}
.single-card-people {
    width: 19%;
}
.single-card-movie {
    width: 24%;
}
.single-card-playing {
    width: 22%;
    padding: 7px;
    background-color: #2b1a45;
    border-radius: 10px;
    margin-bottom: 30px;
}

.card-img-top{
    border-radius: 5px;
}

#now-playing .card-text{
    height: 100px;
    overflow: hidden;
}
.single-card-tv {
    width: 19%;
}
.tv-show .card-text{
    height: 100px;
    overflow: hidden;
}
.single-card-on-air{
    width: 15%;
}
#on-air-today .card-text{
    height: 100px;
    overflow: hidden;
}

.all-movies .single-card-movie {
    width: 15%;
}

@media(min-width: 765px){
    nav {
        grid-template-columns: 1fr;
    }
}