.container-resultados{
    min-height:80vh;
}

.titulo-resultados{
    padding-top:10px;
    font-size: 30px;
    font-weight:bold;
}

.row-cards-peliculas{
    display:flex;
    flex-wrap:wrap;
    gap: 20px;
    padding:20px;
    width:100%;
    box-sizing:border-box;
    justify-content: center;
}

.loader-container{
    width: 100%;
    display:flex;
    justify-content:center;
    padding:50px;
}